.bs-callout {
	margin-top: 3px;
    border-left: 1px solid #eee;
    border-left-width: 5px;
}
.bs-callout p {
	margin-left: 10px;
}

.bs-callout h6 {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}